{% autoescape off %}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
UTAMEMO - パスワードリセット / Password Reset
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【日本語】
{{ user.username }} 様

UTAMEMOのパスワードリセットリクエストを受け付けました。

以下のリンクをクリックして、新しいパスワードを設定してください：
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

このリンクは1時間有効です。

※このメールに心当たりがない場合は、このメールを無視してください。
パスワードは変更されません。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【English】
Dear {{ user.username }},

We received a password reset request for your UTAMEMO account.

Please click the link below to set a new password:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

This link is valid for 1 hour.

If you did not request this, please ignore this email.
Your password will not be changed.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

UTAMEMO Team
https://utamemo.com

{% endautoescape %}
