{% autoescape off %}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
UTAMEMO - パスワードリセット / Password Reset
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【日本語】
{{ user.username }} 様

UTAMEMOのパスワードリセットリクエストを受け付けました。

以下のリンクをクリックして、新しいパスワードを設定してください：
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

このリンクは1時間有効です。

※このメールに心当たりがない場合は、このメールを無視してください。
パスワードは変更されません。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【English】
Dear {{ user.username }},

We received a password reset request for your UTAMEMO account.

Please click the link below to set a new password:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

This link is valid for 1 hour.

If you did not request this, please ignore this email.
Your password will not be changed.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【Español】
Hola {{ user.username }},

Recibimos una solicitud para restablecer la contraseña de tu cuenta UTAMEMO.

Haz clic en el siguiente enlace para establecer una nueva contraseña:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Este enlace es válido por 1 hora.

Si no solicitaste esto, ignora este correo.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【Deutsch】
Hallo {{ user.username }},

Wir haben eine Anfrage zum Zurücksetzen des Passworts für dein UTAMEMO-Konto erhalten.

Klicke auf den folgenden Link, um ein neues Passwort festzulegen:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Dieser Link ist 1 Stunde gültig.

Falls du dies nicht angefordert hast, ignoriere diese E-Mail.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【Português】
Olá {{ user.username }},

Recebemos uma solicitação para redefinir a senha da sua conta UTAMEMO.

Clique no link abaixo para definir uma nova senha:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Este link é válido por 1 hora.

Se você não solicitou isso, ignore este e-mail.

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

【中文】
{{ user.username }} 您好，

我们收到了重置您 UTAMEMO 账户密码的请求。

请点击以下链接设置新密码：
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

此链接有效期为1小时。

如果您没有发起此请求，请忽略此邮件。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

UTAMEMO Team
https://utamemo.com

{% endautoescape %}
